# ==========================
# OpenAI
# ==========================
OPENAI_API_KEY=

# ==========================
# Azure Speech
# ==========================
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=koreacentral
AZURE_SPEECH_ENDPOINT=https://koreacentral.api.cognitive.microsoft.com/

# ==========================
# YouTube Data API
# ==========================
YOUTUBE_API_KEY=